header{
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

#logo {
    width: 200px;
    display: inline-block;
    text-align: center;
}

#logo a {
    text-decoration: none;
}

#logo-img {
    height: 100px;
    width: 100px;
}

#logo-txt {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color:   #ff3731; 
}

nav {
    position: absolute;
    right: 0;
    display: inline-block;
    top: 60px;
}

nav ul li{
    display: inline-block;
    padding: 0 15px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    color: #2f2e2e;
}

nav ul li a:hover{
    color: #ff3731; 
}

section {
    width: 100%;
    margin: 0;
    border: 0;
}

#img-fundo {
    width: 100%;
}

#sabores {
    margin-top: -2px;
    background-color: #ff3731;
}

.titulo-section {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    padding: 30px;
}

.card-sabores {
    display: inline-block;
    width: 30%;
    text-align: center;
    border-radius: 5px;
    margin: 0 1.5%;
    padding-bottom: 30px;
}

.card-sabores img{
    width: 250px;
    height: 250px;
}

.card-sabores p {
    font-size: 20px;
    margin-top: 15px;
}

#sobre {
 
}

.bloco {
    display: inline-block;
    width: 49%;
}

.texto {
    text-align: justify;
  
}

footer {
    background-color: #2f2e2e;
    width: 100%;
    bottom: 0;
    margin-top: 30px;
    height: 50px;
    text-align: center;
    font-size: 13px;
    line-height: 48px;
    margin-bottom: -2px;
}

footer span {
    font-size: 18px;
    color:  white;
}